<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
	</configSections>
	<appSettings>
		<add key="Website" value="http://localhost:8085/"/>
		<!--<add key="Website" value="http://www.sisnambalava.org.uk/"/>-->
		<add key="TotalMsg" value="10"/>
		<add key="XMLPATH" value="\XML\kural\messages.xml"/>
		<add key="RESOURCEPATH" value="\App_GlobalResources\Resource.resx"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
		</httpModules>
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<rewriter>
    <if url="sis-navaratri-celebrations-2010-20101127062016.aspx">
      <redirect to="~/sis-events/" />
    </if>
    <if url="/articles/sis-20-20-cricket-20101129033941.aspx">
      <redirect to="~/articles/others/sis-20-20-cricket-20101129033941.aspx" />
    </if>
    <if url="/articles/first-of-all-vande-mataram-to-mother-india-20101125023931.aspx">
      <redirect to="~/articles/others/first-of-all-vande-mataram-to-mother-india-20101125023931.aspx" />
    </if>
    <if url="/articles/arangetram-a-gem-of-a-concept-20101125113641.aspx">
      <redirect to="~/articles/art/arangetram-a-gem-of-a-concept-20101125113641.aspx" />
    </if>
    <if url="/articles/தீபாவளி-கொண்டாட்டம்-2010-சிறப்பு-பார்வை-20101128062613.aspx">
      <redirect to="~/articles/others/தீபாவளி-கொண்டாட்டம்-2010-சிறப்பு-பார்வை-20101128062613.aspx" />
    </if>
    <if url="/articles/the-muggy-magic-of-madras-20101202064422.aspx">
      <redirect to="~/articles/culture/the-muggy-magic-of-madras-20101202064422.aspx" />
    </if>
    <if url="/articles/an-interesting-study-of-boons-and-curses-20101207030050.aspx">
      <redirect to="~/articles/religion/an-interesting-study-of-boons-and-curses-20101207030050.aspx" />
    </if>
    <if url="/sis-events/sis-diwali-2011-20110630065407.aspx">
      <redirect to="~/sis-events/sis-deepavali-evening-2011-20110630065407.aspx" />
    </if>
    <if url="/sis-events/sis-paattu-paada-vaa-aattam-poda-vaa-20111111075417.aspx">
      <redirect to="~/sis-events/" />
    </if>
    <if url="/articles/others/grammar-schools-by-county-20110509083648.aspx">
      <redirect to="~/useful-info/buckinghamshire-grammar-schools.aspx" />
    </if>
    <if url="/articles/others/sis-cricket-galatta">
      <redirect to="~/articles/others/sis-cricket-galatta-2012-20120710060118.aspx" />
    </if>
    <if url="/articles/culture/100-wonderful-things-about-tamil-nadu-201109110..">
      <redirect to="~/articles/culture/100-wonderful-things-about-tamil-nadu-20110911070424.aspx" />
    </if>
    <if url="/articles/others/valakhilyas-60000-thumb-sized-ascetics-protecting-humanity-from-radiation-20120509070522.aspx">
      <redirect to="~/articles/others/valakhilyas-thumb-sized-ascetics-protecting-humanity-from-radiation-20120415065107.aspx" />
    </if>
    <if url="/sis-events/sis-monthly-satsang-october-2012-20120609120108.aspx">
      <redirect to="~/sis-events/sis-monthly-satsang-september-2012-20120609115751.aspx" />
    </if>

    <if url="/sis-events/sis-monthly-satsang-october-2012-20120609120108.aspx">
      <redirect to="~/sis-events/sis-monthly-satsang-september-2012-20120609115751.aspx" />
    </if>
    <if url="/sis-events/sis-career-event-may-2012-20120322071145.aspx">
      <redirect to="~/sis-events/sis-youth-career-development-event-2012-20120609115926.aspx" />
    </if>
    <if url="/articles/others/relation-between-anathma-and-athma-20120709075952.aspx">
      <redirect to="~/articles/others/relation-between-anathma-and-athma-20120607024942.aspx" />
    </if>

    <if url="/articles/religion/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/others/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/sis-events/sis-youth-event-2012-20120609121134.aspx">
      <redirect to="~/sis-events/" />
    </if>

    <if url="/articles/culture/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/recipes/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/temples/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/art/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx">
      <redirect to="~/sis-events/south-indian-society-illamai-idho-idho-20130222044027.aspx" />
    </if>

    <if url="/articles/others/scientific-proof-for-samudrika-lakshana-20130318044412.aspx">
      <redirect to="~/articles/others/scientific-proof-for-samudrika-lakshanam-20130318044412.aspx" />
    </if>

    <if url="/2009/08/05/yajur">
      <redirect to="~/downloads/Yajur-upakarma-2012.pdf" />
    </if>

    <if url="/articles/culture/100-wonderful-things-about-tamil-nadu-20110911070424.aspx">
      <redirect to="~/articles/culture/hundred-wonderful-things-about-tamil-nadu-20110911070424.aspx" />
    </if>

    <rewrite url="~/articles/(.+)/(.+)-(.+).aspx" to="~/articles/articledetails.aspx?NewsID=$3"/>
    <rewrite url="~/sis-events/(.+)-(.+).aspx" to="~/sis-events/eventdetails.aspx?EventID=$2"/>
    <rewrite url="~/other-events/(.+)-(.+).aspx" to="~/other-events/otherevent.aspx?EventID=$2"/>
    <rewrite url="~/useful-info/tamil-panchangam/(.+)-(.+).aspx" to="~/useful-info/tamil-panchangam/pandetails.aspx?id=$1-$2"/>
    <rewrite url="~/newsletter/(.+)-(.+).aspx" to="~/newsletter/news.aspx?id=$1-$2"/>

    
	</rewriter>
</configuration>
